<div class="container">
  <div class="tab-buttons-container">
    <div class="selected-indicator-container"  [style.left]="(this.activeTabIndex() * ((100/3))) + '%'">
      <div class="selected-indicator"></div>
    </div>
    <button class="tab-button" (click)="setActiveTab(0)">SPESE</button>
    <span class="separator"></span>
    <button class="tab-button" (click)="setActiveTab(1)">DEBITI</button>
    <span class="separator"></span>
    <button class="tab-button" (click)="setActiveTab(2)">PAGAMENTI</button>
  </div>
  <div class="tab-content-container" [style.transform]="'translateX(' + (-this.activeTabIndex() * (100/3)) + '%)'">
    <div class="tab-content ">
      <div class="spese-box">
        @if (gencount()) {
          <expenses-list [gencountId]="gencount()!.gencountId"/>
          <button class="create-expense-button" (click)="openExpenseCreation()">
            <lucide-icon [img]="Plus" />
          </button>
        }
      </div>
    </div>
    <div class="tab-content ">
      <div>
        @if (gencount()) {
          <app-debts-list [gencountId]="gencount()!.gencountId!" [users]="partecipants()"></app-debts-list>
        }
      </div>
    </div>
    <div class="tab-content ">
      <div class="section-title">Lista pagamenti</div>
    </div>
  </div>
</div>
