.page {
  min-height: 100vh;
  background-color: var(--mat-sys-surface-container);
}

.topbar {
  position: relative;
  height: 90px;
  display: flex;
  align-items: center;
  padding: 0 18px;
  gap: 18px;
  background-color: var(--mat-sys-surface);
}

.title-span-above {
  height: 20%;
}

.title {
  margin: auto;
  height: 40%;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
}

.description {
  margin: auto;
  height: 40%;
  max-width: max(50%, 500px);
  display: flex;
  align-items: flex-start;
  padding-top: 6px;
  color: var(--mat-sys-on-surface-variant);
  text-overflow: ellipsis;
}

.title-and-description {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

button {
  border: none;
  color: inherit;
}

.icon-btn {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: none;
  background: var(--mat-sys-surface-dim);
  color: var(--mat-sys-on-surface);
  font-size: 28px;
  left: 30px;
  cursor: pointer;
  position: absolute;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  background: transparent;
}

.icon-btn * {
  position: absolute;
}

.icon-btn:hover {
  background: var(--mat-sys-inverse-surface);
  color: var(--mat-sys-inverse-on-surface);
}


.sub-window {
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--mat-sys-surface-container-high);
  border: 1px solid var(--mat-sys-outline);
}
.sub-window.dark{
  border: 1px  var(--mat-sys-outline-variant);
}

.left {
  width: 70%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
  background-color: var(--mat-sys-surface-container-high);
}

.right {
  flex: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
}

.section-title {
  width:100%;
  height: 40px;
  background-color: var(--mat-sys-surface-container-lowest);
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.users-box {
  height: 500px;
  background-color: var(--mat-sys-surface-container-high);
  padding: 6%;
  padding-top: 20px;
}
.content{
  max-width: 1000px;
  width:80%;
  height: 80%;
  display: flex;
  gap: 20px;
  margin: 20px auto 0;
  padding: 0 20px;
}

.member-separator{
  height: 1px;
  max-height: 1px;
  margin: 8px auto;
  width: 90%;
  background-color: var(--mat-sys-outline-variant);
}
