<div class="page">
  <div class="card">
    <form #expenseForm="ngForm" (ngSubmit)="submit()" class="form">
      <div class="nome-e-prezzo">
        <label class="label" for="title">Spesa</label>

        <div class="nome-e-prezzo-input-container">
          <input class="input title important" type="text" [(ngModel)]="title" id="title" name="title"
                 placeholder="Es. Pizzette e dolci"/>
          <div class="price">
            <input class="input important" type="text" [(ngModel)]="price" name="price" placeholder="50"/>
          </div>
        </div>
      </div>

      <label class="label">Descrizione</label>
      <textarea name="description" class="input textarea" [(ngModel)]="description"
                placeholder="Es. 5 Pizzette margherita, 2 croissant e una torta">
        </textarea>
      <div class="peopleBox">
        <user-list [listOfPeople]="partecipants" (checkboxClicked)="addToAddingList($event)"/>
      </div>
      <!-- TODO: mettere la disattivazione dopo click-->
      <button type="submit" class="btn create">Crea spesa</button>

    </form>
  </div>
</div>
