@import "themes/light.css";
@import "themes/light-hc.css";
@import "themes/light-mc.css";
@import "themes/dark.css";
@import "themes/dark-mc.css";
@import "themes/dark-hc.css";

body {
  margin: 0 0;
  padding: 0 0;
}

* {
  box-sizing: border-box;
  background-color: transparent;
  font-family: "Arial", sans-serif;
}

button{
  outline: none;
  cursor: pointer;
}

.primary {
  background-color: var(--md-sys-color-primary);
}

.surface-tint {
  background-color: var(--md-sys-color-surface-tint);
}

.primary-container {
  background-color: var(--md-sys-color-primary-container);
}

.secondary {
  background-color: var(--md-sys-color-secondary);
}

.secondary-container {
  background-color: var(--md-sys-color-secondary-container);
}

.tertiary {
  background-color: var(--md-sys-color-tertiary);
}

.tertiary-container {
  background-color: var(--md-sys-color-tertiary-container);
}

.error {
  background-color: var(--md-sys-color-error);
}

.error-container {
  background-color: var(--md-sys-color-error-container);
}

.background {
  background-color: var(--md-sys-color-background);
}

.surface {
  background-color: var(--md-sys-color-surface);
}

.surface-variant {
  background-color: var(--md-sys-color-surface-variant);
}

.shadow {
  background-color: var(--md-sys-color-shadow);
}

.scrim {
  background-color: var(--md-sys-color-scrim);
}

.inverse-surface {
  background-color: var(--md-sys-color-inverse-surface);
}

.inverse-primary {
  background-color: var(--md-sys-color-inverse-primary);
}

.primary-fixed {
  background-color: var(--md-sys-color-primary-fixed);
}

.primary-fixed-dim {
  background-color: var(--md-sys-color-primary-fixed-dim);
}

.secondary-fixed {
  background-color: var(--md-sys-color-secondary-fixed);
}

.secondary-fixed-dim {
  background-color: var(--md-sys-color-secondary-fixed-dim);
}

.tertiary-fixed {
  background-color: var(--md-sys-color-tertiary-fixed);
}

.tertiary-fixed-dim {
  background-color: var(--md-sys-color-tertiary-fixed-dim);
}

.surface-dim {
  background-color: var(--md-sys-color-surface-dim);
}

.surface-bright {
  background-color: var(--md-sys-color-surface-bright);
}

.surface-container-lowest {
  background-color: var(--md-sys-color-surface-container-lowest);
}

.surface-container-low {
  background-color: var(--md-sys-color-surface-container-low);
}

.surface-container {
  background-color: var(--md-sys-color-surface-container);
}

.surface-container-high {
  background-color: var(--md-sys-color-surface-container-high);
}

.surface-container-highest {
  background-color: var(--md-sys-color-surface-container-highest);
}

.on-primary-container {
  color: var(--md-sys-color-on-primary-container);
}

.on-secondary {
  color: var(--md-sys-color-on-secondary);
}

.on-secondary-container {
  color: var(--md-sys-color-on-secondary-container);
}

.on-tertiary {
  color: var(--md-sys-color-on-tertiary);
}

.on-tertiary-container {
  color: var(--md-sys-color-on-tertiary-container);
}

.on-error {
  color: var(--md-sys-color-on-error);
}

.on-error-container {
  color: var(--md-sys-color-on-error-container);
}

.on-background {
  color: var(--md-sys-color-on-background);
}

.on-surface {
  color: var(--md-sys-color-on-surface);
}

.on-surface-variant {
  color: var(--md-sys-color-on-surface-variant);
}

.inverse-on-surface {
  color: var(--md-sys-color-inverse-on-surface);
}

.on-primary-fixed {
  color: var(--md-sys-color-on-primary-fixed);
}

.on-primary-fixed-variant {
  color: var(--md-sys-color-on-primary-fixed-variant);
}

.on-secondary-fixed {
  color: var(--md-sys-color-on-secondary-fixed);
}

.on-secondary-fixed-variant {
  color: var(--md-sys-color-on-secondary-fixed-variant);
}

.on-tertiary-fixed {
  color: var(--md-sys-color-on-tertiary-fixed);
}

.on-tertiary-fixed-variant {
  color: var(--md-sys-color-on-tertiary-fixed-variant);
}

.on-primary {
  color: var(--md-sys-color-on-primary);
}

.outline {
  border-color: var(--md-sys-color-outline);
}

.outline-variant {
  border-color: var(--md-sys-color-outline-variant);
}
