.form {
  display: flex;
  flex-direction: column;
}

.friend-container {
  display: grid;
  height: 45px;
  border-radius: 10px;
  grid-template-columns: 1fr 60px;
  font-family: Arial, sans-serif;
  align-items: center;
  position: relative;
}

.friend-container:hover {
  background-color: color-mix(in srgb,var(--mat-sys-inverse-surface), transparent 86%);
}

.info {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.2rem;
  padding-left: 10px;
}

.friend-list {
  max-height: 235px;
  overflow-y: auto;
}

.checkbox {
  border: none;
  border-radius: 10px;
}

.friend-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


/* 3. DISEGNA il tuo quadratino personalizzato */

.quadratino {
  height: 24px;
  width: 24px;
  right: 15px;
  border-radius: 6px; /* Più lo alzi, più diventa tondo */
  position: absolute;
  background-color: var(--mat-sys-tertiary);
  opacity: 0;
  transition: opacity 0.3s ease-out;
  border-color: var(--mat-sys-outline);
}

/* 5. Stile quando la checkbox è SELEZIONATA (Checked) */

.friend-container input:checked ~ .quadratino {
  opacity: 1;
}

/* 6. Crea la struttura per il segno di spunta (nascosto di default) */

.quadratino:after {
  content: "";
  position: absolute;
  opacity: 0;
}

/* 7. Mostra il segno di spunta quando selezionato */

.friend-container input:checked ~ .quadratino:after {
  transition: opacity 0s 0s;
  opacity: 1;
}

/* 8. DISEGNA il segno di spunta (una L ruotata) */

.quadratino:after {
  left: 9px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid var(--mat-sys-on-tertiary);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  transition: opacity 0s 0.3s;
}

/* 1. Definisci la larghezza della barra */
::-webkit-scrollbar {
  width: 8px;
  scrollbar-gutter: stable;
}

/* 2. Personalizza lo sfondo */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* 3. Personalizza la maniglia */
::-webkit-scrollbar-thumb {
  background: color-mix(in srgb, var(--mat-sys-secondary), transparent 30%);
  border-radius: 10px;
}

/* 4. Effetto al passaggio del mouse */
::-webkit-scrollbar-thumb:hover {
  background: var(--mat-sys-secondary);
}

