.form {
  display: flex;
  flex-direction: column;
}

.friend-container {
  display: grid;
  height: 45px;
  border-radius: 10px;
  grid-template-columns: 1fr 60px;
  font-family: Arial, sans-serif;
  align-items: center;
}

.friend-container:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.info {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.2rem;
  padding-left: 10px;
  color: #545454;
}

.info:hover {
  color: #000000;
}

.friend-list {
  max-height: 235px;
  overflow-y: auto;
}

.checkbox {
  border: none;
  border-radius: 10px;
}

.friend-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


/* 3. DISEGNA il tuo quadratino personalizzato */

.quadratino {
   height: 24px;
  width: 24px;
  border-radius: 6px; /* Più lo alzi, più diventa tondo */
  margin-right: 10px;
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  background-color: #ff4081; /* Cambia questo colore come preferisci */
  border-color: #ff4081;
}

/* 5. Stile quando la checkbox è SELEZIONATA (Checked) */

.friend-container input:checked ~ .quadratino {
  opacity: 1;
}

/* 6. Crea la struttura per il segno di spunta (nascosto di default) */

.quadratino:after {
  content: "";
  position: absolute;
  opacity: 0;
}

/* 7. Mostra il segno di spunta quando selezionato */

.friend-container input:checked ~ .quadratino:after {
  transition: opacity 0s 0s;
  opacity: 1;
}

/* 8. DISEGNA il segno di spunta (una L ruotata) */

.quadratino:after {
  left: 9px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  transition: opacity 0s 0.3s ;
}

